.App {
  text-align: center;
  background-image: linear-gradient(to right top, #d98deb, #a49efd, #68abfd, #2cb3ee, #17b6d6);
  height: 100vh;
}
.App_text
{
  font-family: Microsoft YaHei UI;
  font-size: 40px;
  text-shadow: 1px 1px black;
  padding-bottom: 20px;
}
.App_input
{
  width: 400px;
  height:45px;
  border-radius: 2px;
  outline: none;
  border-color:transparent;
  margin-top: 20px;
  font-family: Microsoft YaHei UI;
  font-size:20px;
  font-weight: bold;
}